body{
    background-image: url(https://www.w3schools.com/w3images/wedding_couple.jpg);
    background-size: cover;
    color: white;
}
.j{
    margin-top: 225px;
    font-size: 30px;
    text-align: center;
}
.a{
    font-size: 30px;
    text-align: center;
}
.d{
    font-size: 30px;
    text-align: center;
}